body {
    background-color: #efefef;   
}

.logo {
    text-align: center;
}

.logo img {
    width: 500px;
    margin-bottom: 30px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.box {
    font-family: "Lucida Sans Unicode", sans-serif;
    background-color: #e0e0e0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
}

.rodape {
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

.rodape p {
    font-family: "Lucida Sans Unicode", sans-serif;
    text-align: left;
}

/*===============================================
Forms
===============================================*/
.form-base {
    margin: 30px 30px;
    text-align: center;
}

.button {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #e0e0e0;
    font-size: medium;
    background-color: #b22222;
    border: 1px solid #000;
    border-radius: 15px;
    width: 400px;
}