<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
        <link rel="icon" href="{{STATIC_URL}}img/favicon.png">
        <title>Eventex - o SEU evento do SEU jeito</title>
    </head>
    
    <body>
        <header class="logo container">
            <img src="{{STATIC_URL}}img/logo.png" alt="Eventex">
        </header>
        <div class="container">
            <div class="logo box">
                <h1>Bem vindo ao Eventex</h1>
                <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
                <p>Você não pode perder essa oportunidade!</p>
                <p><strong>Abertura das inscrições no domingo.</strong></p>
                <p>Para maiores dúvidas entre em contato com <a href="mailto:eventex@eventex.com">eventex@eventex.com</a></p>
            </div>
        
            <div class="rodape">
                <p>&copy; Copyright Welcome to the Django
                    <a href="https://www.djangoproject.com/" target="_blank">
                        <img align="right" src="https://djangoproject.com/s/img/badges/djangosite100x25.gif" alt="Django Site">
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>